In [153]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import fsspec
from scipy import stats
from scipy.stats import norm, skew
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor, plot_importance
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

In [154]:
import boto3
bucket='aifa-team-purple' # Or whatever you called your bucket
data_key = 'test_projections/test_data_predictions.csv' # Where the file is within your bucket
data_location = 's3://{}/{}'.format(bucket, data_key)
df = pd.read_csv(data_location)

In [158]:
df['year'] = df['Open Date'].apply(lambda x: "20" + x[len(x)-2:len(x)])

In [161]:
df2 = df.drop(columns = "Open Date")
df2 = df2.drop(columns = "Id")
df2 = df2.drop(columns = "Unnamed: 0")

In [162]:
print(df2)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P30  P31  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...    0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...    0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...    0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...    0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...    0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...    5    2
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...    5    5

     P32  P33  P34  P35  P36  P37  predicted_revenue  year
0      0    0    0    0    0    0         4852964.00  2005
1      0    0    0    0    0    0         9676064.00  2005
2      0    0    0    0    0    0         8749350.00  2000
3      0    0    0    0    0    0         8729628.00  2011
4      0    0    0    0    0    0         7406593.50  2000
..   ...  ...  ...  ...  ...  ...                ...   ...
132    0    0    0    0    0    0         3670620.25  2011
133    0    0    0    0    0    0         3617952.25  2013
134    0    0    0    0    0    0         3587020.50  2013
135    3    2    2    2    3    3         3566397.00  2010
136    4    3    3    4    3    1         3374955.00  2010

[137 rows x 42 columns]

In [163]:
y = df2['predicted_revenue']

In [187]:
x= df2.loc[:, df2.columns != 'predicted_revenue']

In [188]:
print(x)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P29  P30  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...  3.0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...  0.0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  3.0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...  3.0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...  3.0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...  3.0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...  3.0    5
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...  3.0    5

     P31  P32  P33  P34  P35  P36  P37  year
0      0    0    0    0    0    0    0  2005
1      0    0    0    0    0    0    0  2005
2      0    0    0    0    0    0    0  2000
3      0    0    0    0    0    0    0  2011
4      0    0    0    0    0    0    0  2000
..   ...  ...  ...  ...  ...  ...  ...   ...
132    0    0    0    0    0    0    0  2011
133    0    0    0    0    0    0    0  2013
134    0    0    0    0    0    0    0  2013
135    2    3    2    2    2    3    3  2010
136    5    4    3    3    4    3    1  2010

[137 rows x 41 columns]

In [189]:
 regr = linear_model.LinearRegression()

In [190]:
x2 = pd.get_dummies(data=x, drop_first=True)

In [191]:
print(x2)

     P1   P2   P3   P4  P5  P6  P7  P8  P9  P10  ...  year_2009  year_2010  \
0     1  3.0  0.0  5.0   5   5   1   5   5    5  ...          0          0
1     5  5.0  4.0  5.0   1   4   5   3   4    4  ...          0          0
2     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
3     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
4     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ...  ...        ...        ...
132   2  2.0  4.0  5.0   4   2   5   5   5    5  ...          0          0
133   2  2.0  4.0  4.0   2   1   5   4   5    5  ...          0          0
134   4  5.0  4.0  4.0   2   2   5   4   4    4  ...          0          0
135   3  5.0  4.0  5.0   3   4   5   4   4    4  ...          0          1
136   3  5.0  4.0  5.0   2   3   5   3   5    4  ...          0          1

     year_2011  year_2012  year_2013  year_2014  year_2096  year_2097  \
0            0          0          0          0          0          0
1            0          0          0          0          0          0
2            0          0          0          0          0          0
3            1          0          0          0          0          0
4            0          0          0          0          0          0
..         ...        ...        ...        ...        ...        ...
132          1          0          0          0          0          0
133          0          0          1          0          0          0
134          0          0          1          0          0          0
135          0          0          0          0          0          0
136          0          0          0          0          0          0

     year_2098  year_2099
0            0          0
1            0          0
2            0          0
3            0          0
4            0          0
..         ...        ...
132          0          0
133          0          0
134          0          0
135          0          0
136          0          0

[137 rows x 89 columns]

In [192]:
        regr.fit(x2, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [169]:
x_year_2 = x

In [170]:
pd.options.mode.chained_assignment = None  # default='warn'

In [171]:
x_year_2["year"] = pd.to_numeric(x_year_2["year"])
x_year_2["year"] = x_year_2["year"] + 1

In [172]:
print(x_year_2)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P29  P30  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...  3.0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...  0.0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  3.0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...  3.0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...  3.0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...  3.0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...  3.0    5
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...  3.0    5

     P31  P32  P33  P34  P35  P36  P37  year
0      0    0    0    0    0    0    0  2006
1      0    0    0    0    0    0    0  2006
2      0    0    0    0    0    0    0  2001
3      0    0    0    0    0    0    0  2012
4      0    0    0    0    0    0    0  2001
..   ...  ...  ...  ...  ...  ...  ...   ...
132    0    0    0    0    0    0    0  2012
133    0    0    0    0    0    0    0  2014
134    0    0    0    0    0    0    0  2014
135    2    3    2    2    2    3    3  2011
136    5    4    3    3    4    3    1  2011

[137 rows x 41 columns]

In [173]:
x_year_3 = x
x_year_3['year'] = pd.to_numeric(x_year_3['year'])
x_year_3['year'] += 2

In [174]:
x_year_4 = x
x_year_4['year'] = pd.to_numeric(x_year_4['year'])
x_year_4['year'] += 3

In [175]:
x_year_5 = x
x_year_5['year'] = pd.to_numeric(x_year_5['year'])
x_year_5['year'] += 4

In [176]:
print(x_year_5)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P29  P30  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...  3.0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...  0.0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  3.0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...  3.0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...  3.0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...  3.0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...  3.0    5
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...  3.0    5

     P31  P32  P33  P34  P35  P36  P37  year
0      0    0    0    0    0    0    0  2015
1      0    0    0    0    0    0    0  2015
2      0    0    0    0    0    0    0  2010
3      0    0    0    0    0    0    0  2021
4      0    0    0    0    0    0    0  2010
..   ...  ...  ...  ...  ...  ...  ...   ...
132    0    0    0    0    0    0    0  2021
133    0    0    0    0    0    0    0  2023
134    0    0    0    0    0    0    0  2023
135    2    3    2    2    2    3    3  2020
136    5    4    3    3    4    3    1  2020

[137 rows x 41 columns]

In [177]:
x_projections = x_year_2.append(x_year_3).append(x_year_4).append(x_year_5)

In [195]:
x_projections['year'] = x_projections['year'].astype(str)

In [196]:
print(x_projections)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P29  P30  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...  3.0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...  0.0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  2.0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...  3.0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...  3.0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...  3.0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...  3.0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...  3.0    5
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...  3.0    5

     P31  P32  P33  P34  P35  P36  P37  year
0      0    0    0    0    0    0    0  2015
1      0    0    0    0    0    0    0  2015
2      0    0    0    0    0    0    0  2010
3      0    0    0    0    0    0    0  2021
4      0    0    0    0    0    0    0  2010
..   ...  ...  ...  ...  ...  ...  ...   ...
132    0    0    0    0    0    0    0  2021
133    0    0    0    0    0    0    0  2023
134    0    0    0    0    0    0    0  2023
135    2    3    2    2    2    3    3  2020
136    5    4    3    3    4    3    1  2020

[548 rows x 41 columns]

In [197]:
x_model_projections = pd.get_dummies(data=x_projections, drop_first=True)

In [198]:
print(x_model_projections)

     P1   P2   P3   P4  P5  P6  P7  P8  P9  P10  ...  year_2019  year_2020  \
0     1  3.0  0.0  5.0   5   5   1   5   5    5  ...          0          0
1     5  5.0  4.0  5.0   1   4   5   3   4    4  ...          0          0
2     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
3     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
4     3  5.0  4.0  4.0   2   5   5   4   5    4  ...          0          0
..   ..  ...  ...  ...  ..  ..  ..  ..  ..  ...  ...        ...        ...
132   2  2.0  4.0  5.0   4   2   5   5   5    5  ...          0          0
133   2  2.0  4.0  4.0   2   1   5   4   5    5  ...          0          0
134   4  5.0  4.0  4.0   2   2   5   4   4    4  ...          0          0
135   3  5.0  4.0  5.0   3   4   5   4   4    4  ...          0          1
136   3  5.0  4.0  5.0   2   3   5   3   5    4  ...          0          1

     year_2021  year_2022  year_2023  year_2024  year_2106  year_2107  \
0            0          0          0          0          0          0
1            0          0          0          0          0          0
2            0          0          0          0          0          0
3            1          0          0          0          0          0
4            0          0          0          0          0          0
..         ...        ...        ...        ...        ...        ...
132          1          0          0          0          0          0
133          0          0          1          0          0          0
134          0          0          1          0          0          0
135          0          0          0          0          0          0
136          0          0          0          0          0          0

     year_2108  year_2109
0            0          0
1            0          0
2            0          0
3            0          0
4            0          0
..         ...        ...
132          0          0
133          0          0
134          0          0
135          0          0
136          0          0

[548 rows x 89 columns]

In [199]:
predicted = regr.predict(x_model_projections)

In [200]:
forecasts  = x_projections
forecasts['projected_revenue'] =  predicted

In [201]:
print(forecasts)

         City  City Group Type  P1   P2   P3   P4  P5  P6  P7  ...  P30  P31  \
0      Ankara  Big Cities   DT   1  3.0  0.0  5.0   5   5   1  ...    0    0
1    İstanbul  Big Cities   FC   5  5.0  4.0  5.0   1   4   5  ...    0    0
2    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
3    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
4    İstanbul  Big Cities   FC   3  5.0  4.0  4.0   2   5   5  ...    0    0
..        ...         ...  ...  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
132     Konya       Other   IL   2  2.0  4.0  5.0   4   2   5  ...    0    0
133    Ankara  Big Cities   IL   2  2.0  4.0  4.0   2   1   5  ...    0    0
134  İstanbul  Big Cities   IL   4  5.0  4.0  4.0   2   2   5  ...    0    0
135    Ankara  Big Cities   IL   3  5.0  4.0  5.0   3   4   5  ...    5    2
136    Ankara  Big Cities   IL   3  5.0  4.0  5.0   2   3   5  ...    5    5

     P32  P33  P34  P35  P36  P37  year  projected_revenue
0      0    0    0    0    0    0  2015       4.852964e+06
1      0    0    0    0    0    0  2015       7.846482e+06
2      0    0    0    0    0    0  2010       8.003358e+06
3      0    0    0    0    0    0  2021       6.615458e+06
4      0    0    0    0    0    0  2010       8.152586e+06
..   ...  ...  ...  ...  ...  ...   ...                ...
132    0    0    0    0    0    0  2021       3.606206e+06
133    0    0    0    0    0    0  2023       3.060613e+06
134    0    0    0    0    0    0  2023       4.001812e+06
135    3    2    2    2    3    3  2020       3.864700e+06
136    4    3    3    4    3    1  2020       3.806953e+06

[548 rows x 42 columns]

In [202]:
import dask.dataframe as dd

In [205]:
forecasts.to_csv('s3://aifa-team-purple/test_projections/forecasts.csv', index=False)